<br>
<div class="jumbotron" >
  <div class="container">

  <h1>Bloccipedia</h1>
  <p>Blocipedia makes your life Easy</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-danger' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-danger' %> today!
  </p>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create your Wiki</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
    <%= link_to "Create New", wikis_path, class: 'btn btn-primary' %>

  </div>
  <div class="col-md-4">
    <h2>Tell the World</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
     <%= link_to "Create New", wikis_path, class: 'btn btn-primary' %>
  </div>

  <div class="col-md-4">
    <h2>Prove It</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
     <%= link_to "Create New", wikis_path, class: 'btn btn-primary' %>
  </div>

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-8 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                          
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Chip Neff 2015</p>
                </div>
            </div>
        </div>
    </footer>



</div>